* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin-top:0px;
}
.v208_85 {
  width: 100%;
  height: 885px;
  background: rgba(255,255,255,1);
  margin-top:0px;
  margin-left: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v208_146 {
  width: 100%;
  height: 112px;
  background: url("../images/v208_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v208_147 {
  width: 105px;
  color: rgba(66,107,31,1);
  position: absolute;
  top: 41px;
  left: 96px;
  font-family: Newsreader;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v208_150 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 956px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v208_151 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 1097px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v208_152 {
  width: 126px;
  height: 48px;
  background: rgba(66,107,31,1);
  padding: 14px 23px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1218px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v208_153 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 37px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v237_34 {
  width: 39px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 754px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v237_35 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 847px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v208_163 {
  width: 100%;
  height: 149px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 0px;
  overflow: hidden;
}
.v208_164 {
  width: 573px;
  height: 77px;
  background: url("../images/v208_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 96px;
  overflow: hidden;
}
.v208_165 {
  width: 592px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Newsreader;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v208_167 {
  width: 64px;
  background: url("../images/v208_167.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 96px;
  border: 3px solid rgba(0,0,0,1);
}
.v208_168 {
  width: 64px;
  background: url("../images/v208_168.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 275px;
  border: 3px solid rgba(242,78,30,1);
}
.v208_169 {
  width: 64px;
  background: url("../images/v208_169.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 471px;
  border: 3px solid rgba(0,0,0,1);
}
.v208_170 {
  width: 64px;
  background: url("../images/v208_170.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 640px;
  border: 3px solid rgba(0,0,0,1);
}
.v208_171 {
  width: 64px;
  background: url("../images/v208_171.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 858px;
  border: 3px solid rgba(0,0,0,1);
}
.v208_172 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 179px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v208_173 {
  width: 77px;
  color: rgba(242,78,30,1);
  position: absolute;
  top: 3px;
  left: 358px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v208_174 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 571px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v208_175 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 734px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v208_176 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 939px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v208_257 {
  width: 1043px;
  height: 196px;
  background: rgba(250,250,245,1);
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 96px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
  border: 1px solid grey;
}
.v208_258 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 91px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v208_262 {
  width: 38px;
  height: 32px;
  background: url("https://cdn-icons-png.flaticon.com/128/2311/2311484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 29px;
  overflow: hidden;
}
.v227_26 {
  width: 180px;
  height: 35px;
  background: rgba(0, 125, 196, 1);
  padding: 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 74px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  color: white;
  font-size: large;
}
.v227_27 {
  width: 171px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 27px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v227_30 {
  width: 225px;
  height: 43px;
  background: rgba(0,125,196,1);
  padding: 14px 23px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 377px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v227_31 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 19px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v227_33 {
  width: 299px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 358px;
  left: 130px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v208_191 {
  width: 1043px;
  height: 196px;
  background: rgba(250,250,245,1);
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 96px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
  border: 1px solid grey;
}
.v208_192 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 91px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v208_222 {
  width: 243px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 91px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v208_256 {
  width: 36px;
  height: 40px;
  background: url("../images/v208_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 26px;
  overflow: hidden;
}
.v217_799 {
  width: 186px;
  height: 62px;
  background: rgba(0,125,196,1);
  padding: 14px 23px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 1000px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v217_800 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 39px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v228_123 {
  width: 160px;
  height: 62px;
  background: rgba(194,194,194,1);
  padding: 14px 23px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 78px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v228_124 {
  width: 58px;
  color: black;
  position: absolute;
  top: 15px;
  left: 51px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v215_198 {
  width: 100%;
  height: 149px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.header-links {
  width: 100%;
  height: 300px;
  background: url("../images/v4368_321115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  overflow: hidden;
}

.logo {
  width: 228px;
  color: rgba(66, 107, 31, 1);
  position: absolute;
  top: 34px;
  left: 25px;
  font-family: Newsreader;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}

.who-we-are {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 45px;
  left: 956px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.my-order {
  width: 71px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 45px;
  left: 1097px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.basket {
  width: 126px;
  height: 48px;
  background: rgba(66, 107, 31, 1);
  padding: 14px 23px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1218px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.basket-text {
  width: 80px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13px;
  left: 23px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.shop-dropdown {
  width: 39px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 46px;
  left: 752px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.shop-dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -100%;
  background-color: #265f1e;

}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;

}

.dropdown-content a:hover {
  background-color: #61a32b;
}

.chair-dropdown:hover .chair-content {
  display: block;
}

.chair-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #265f1e;

}

.chair-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  padding: 15px 15px;

}

.chair-content a:hover {
  background-color: #61a32b;
}

.sofa-dropdown:hover .sofa-content {
  display: block;
}

.sofa-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #265f1e;

}

.sofa-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  padding: 15px 15px;

}

.sofa-content a:hover {
  background-color: #61a32b;
}

.wardrobe-dropdown:hover .wardrobe-content {
  display: block;
}

.wardrobe-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #265f1e;

}

.wardrobe-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  padding: 15px 15px;

}

.wardrobe-content a:hover {
  background-color: #61a32b;
}

.cabinet-dropdown:hover .cabinet-content {
  display: block;
}

.cabinet-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #265f1e;

}

.cabinet-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  padding: 15px 15px;

}

.cabinet-content a:hover {
  background-color: #61a32b;
}

.table-dropdown:hover .table-content {
  display: block;
}

.table-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #265f1e;

}

.table-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  padding: 15px 15px;

}

.table-content a:hover {
  background-color: #61a32b;
}

.promos {
  width: 58px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 47px;
  left: 840px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}

.move-down {
  position: absolute;
  top: 20px;
}

.v215_201 {
  width: 500px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 62px;
  left: 119px;
  font-family: Newsreader;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.move-down {
  position: absolute;
  top: 20px;
}
.move-right{
  position: absolute;
  left: 15px;
}
.v215_219 {
  width: 80px;
  height: 70px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5049/5049703.png);
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -24px;
  left: 96px;
  scale: 0.8;
}
.v215_222 {
  width: 80px;
  height: 70px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5049/5049972.png);
  background-size: cover;
  opacity: 1;
  position: absolute;
  scale: 0.8;
  top: -23px;
  left: 270px;
}

.v215_223 {
  width: 80px;
  height: 70px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5049/5049703.png);
  background-size: cover;
  opacity: 1;
  position: absolute;
  scale: 0.8;
  top: -22px;
  left: 459px;
}

.v215_224 {
  width: 80px;
  height: 70px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5049/5049703.png);
  background-size: cover;
  opacity: 1;
  position: absolute;
  scale: 0.8;
  top: -22px;
  left: 638px;
}

.v215_225 {
  width: 80px;
  height: 70px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/5049/5049703.png);
  background-size: cover;
  opacity: 1;
  position: absolute;
  scale: 0.8;
  top: -22px;
  left: 839px;
}

.v215_227 {
  width: 79px;
  color: black;
  position: absolute;
  top: 3px;
  left: 183px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v215_266,
.v215_267,
.v215_268,
.v215_269,
.v215_270,
.v215_272 {
  position: relative;
}

.v215_266 input,
.v215_267 input,
.v215_268 input,
.v215_269 input,
.v215_270 input,
.v215_272 input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.v215_228 {
  width: 77px;
  color: rgba(242, 78, 30, 1);
  position: absolute;
  top: 3px;
  left: 368px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v215_229 {
  width: 46px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: 571px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v215_230 {
  width: 83px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: 734px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v215_231 {
  width: 92px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: 939px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}